<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style type="text/css">
            .class1 {text-decoration:line-through ; color: red}
        </style>
    </head>

    <body>
        <!--这是我们的View-->
        <div id="app">
            <table border=“1”>
                <tr>
                    <th></th>
                    <th>序号</th>
                    <th>内容</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(item, index) in items" :class="{class1: item.ischeck}">
                    
                    <td style="width: 40px"><input type="checkbox" :value="index" v-model="item.ischeck"></td>
                    <td style="width: 40px">{{index + 1}}</td>
                    <td style="width: 160px">
                        <span v-show="!item.isedit">{{item.text}}</span>
                        <span v-show="item.isedit">
                            <input v-model="item.edittext"></input>
                        </span>
                    </td>
                    <td>
                        <button @click="edit(index)">{{item.iseditname}}</button>
                        <button v-show="item.isedit" @click="cancel(index)">取消</button>
                        <button :disabled="item.isedit" @click="del(index)">删除</button>
                    </td>
                </tr>
            </table>
            <br />
            <input v-model="inptext" @keyup.enter="add"></input>
            <button @click="add">增加</button>
            <br /><br />
            <div>总共{{items.length}}条记录。</div>
            <div>选中记录行为：{{getSelRows}}</div>
        </div>
        
    </body>
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            //属性插值
            data:{ 
                inptext: '',
                items:[
                    {text: '待办1', edittext : '', ischeck : false, isedit : false, iseditname: '编辑'},
                    {text: '待办2', edittext : '', ischeck : false, isedit : false, iseditname: '编辑'},
                    {text: '待办3', edittext : '', ischeck : false, isedit : false, iseditname: '编辑'},
                ]
            },
            computed:{
                //获取选中的记录行
                getSelRows:function()
                {
                    var selRows = [];
                    for(var i = 0; i < this.items.length; i++)
                    {
                        if(this.items[i].ischeck)
                        {
                            selRows.push(i + 1);
                        }
                    }
                    return selRows;
                }
            },
            methods:{
                    edit:function(index)
                    {
                        //如果保存，则把编辑值更新到显示值中
                        if(this.items[index].isedit)
                        {
                            this.items[index].text = this.items[index].edittext;
                        }
                        else
                        {
                            this.items[index].edittext = this.items[index].text;
                        }

                        //状态切换
                        this.items[index].isedit = !this.items[index].isedit;
                        this.items[index].iseditname = this.items[index].iseditname == '编辑'? '保存' : '编辑';
                    },
                    cancel:function(index)
                    {
                        this.items[index].edittext = this.items[index].text;
                        this.items[index].isedit = false;
                        this.items[index].iseditname = '编辑';
                    },
                    del:function(index)
                    {
                        this.items.splice(index, 1);
                    },
                    add:function()
                    {
                        if(this.inptext == "") return;
                        this.items.push({text: this.inptext,edittext : this.inptext, ischeck : false, isedit : false, iseditname: '编辑'});
                        this.inptext = "";
                    }
            }
        })
    </script>
</html>