<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>7-表单控件绑定</title>
  <link rel="stylesheet" href="./lesson.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
  <div style="width: 100%;" id="app">
        <input type="button" value="添加" id="add" onclick='app.items.push({title: "审批流程",isEdit: false,BtnEditTitle:"编辑"});' />
        <ol>
            <li v-for=" item in items ">
                <input type="checkbox" />
                <div v-if=" item.isEdit">
                    <input type="text" v-model="item.title" />
                </div>
                <div v-else>
                      {{ item.title }}
                </div>
                <input type="button" v-model="item.BtnEditTitle" v-on:click="item.isEdit=!item.isEdit;item.BtnEditTitle=item.BtnEditTitle=='编辑'?'保存':'编辑'" />
                <input type="button" value="删除" v-on:click="removeTodo($index)" />
            </li>
        </ol>

    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                items: [{

                        title: "审批流程1",
                        isEdit: false,
                        BtnEditTitle: "编辑"
                    },
                    {
                        title: "审批流程2",
                        isEdit: true,
                        BtnEditTitle: "保存"

                    }
                ]
            },
            methods: {
                removeTodo: function(index) {
                    this.items.splice(index, 1);
                }
            }
        });
    </script>
</body>

</html>