<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO</title>
    <link rel="stylesheet" href="./TODO.css">
</head>

<body>
    <div id="todo">
        <h2>剩余待办：{{ todoTotal }}条</h2>
        <div class="todo-input">
            <input type="text" v-model.trim="todoNew">
            <button @click="todoAdd">添加</button>
        </div>
        <ul>
            <li v-for="(todo,index) in todoList">
                <input type="checkbox" id="'todo'+index" :key="index" v-model="todo.completed" :disabled="todo.editable">
                <input type="text" v-if="todo.editable" v-model="todo.text">
                <label v-else for="'todo'+index" :class="{completed:todo.completed}">{{ todo.text }}</label>
                <button @click="editTodo(index)">{{ todo.editable | editShow}}</button>
                <button @click="todoRemove(index)" :disabled="todo.editable">删除</button>
            </li>
        </ul>
    </div>
    <div id="desc">
        <ul>
            <li>说明： </li>
            <li>1，点击“添加”会向下方列表追加一条待办事项，默认状态为“待办”、名称为输入的名称、未编辑;</li>
            <li>2，点击行内“编辑”按钮，可置为编辑状态，文本框可输入新的事项名称，checkbox不可操作，操除按钮不可操作，点击“确定”按钮完成退出编辑状态；</li>
            <li>3，点击行内“删除”按钮，可从列表中移除一行，但是如果钩选为”已办“则不可以删除。删除成功后剩余待办条数会更新；</li>
            <li>4，点击行首checkbox 也会更新剩余待办条数；</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./TODO.js"></script>
</body>

</html>