<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO</title>
    <link rel="stylesheet" href="./TODO.css">
</head>

<body>
    <div id="todo">
        <h2>剩余待办：{{todoList.length}}条</h2>
        <div class="todo-input">
            <input type="text" v-model.trim="todoNew">
            <button @click="todoAdd">添加</button>
        </div>
        <ul>
            <li v-for="(todo,index) in todoList">
                <input type="checkbox" :id="'todo'+index" :key="index" v-model="todo.isCheck">
                <input type="text" v-if="todo.isedit" :key="index" v-model="todo.value">
                <label v-else :for="'todo'+index" :key="index" :class="{completeda:todo.isCheck}">{{ todo.value }}</label>
                <button @click="editTodo(index)">{{ todo.isedit | editShow}}</button>
                <button @click="todoRemove(index)" :disabled="todo.isedit">删除</button>
            </li>

        </ul>
       
        </div>
		
    <script src="../js/vue.js"></script>
    <script src="./TODO.js"></script>
</body>

</html>